1. To provide sales insights that are not visible before for the sales team for decision support.
 Just follow along and complete the tasks outlined below.
 Finding 5 sales insights of sales for products:
 1. Sales trends.
 2. Top 5products by sales.
 3. 5mostselling products in terms of quantity.
 4. The most commonly used modeofshipment.
 5. The most profitable categories and subcategories.
 Optional Tasks:
 6. Store the dataset into a database management system like MySQL or PostgreSQL.
 7. Build a dashboar

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 32.0 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: pip install --upgrade pip

In [7]:
import pandas as pd

# Load the Excel file to analyze the data
file_path = '/work/1-sales_records.xlsx'
data = pd.ExcelFile(file_path)

# Display sheet names to understand the structure of the file
data.sheet_names

['Orders', 'Returns', 'Person']

In [8]:
# Load the 'Orders' sheet to inspect its structure and contents
orders_data = data.parse('Orders')

# Display the first few rows to understand the data
orders_data.head(), orders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        51290 non-null  object
 1   order_date      51290 non-null  datetime64[ns]
 2   ship_date       51290 non-null  datetime64[ns]
 3   ship_mode       51290 non-null  object
 4   customer_name   51290 non-null  object
 5   segment         51290 non-null  object
 6   state           51290 non-null  object
 7   country         51290 non-null  object
 8   market          51290 non-null  object
 9   region          51290 non-null  object
 10  product_id      51290 non-null  object
 11  category        51290 non-null  object
 12  sub_category    51290 non-null  object
 13  product_name    51290 non-null  object
 14  sales           51290 non-null  float64
 15  quantity        51290 non-null  int64
 16  discount        51290 non-null  float64
 17  profit          51290 non-null  float64
 18  shipping_cost   51290 non-null  float64
 19  order_priority  51290 non-null  object
 20  year            51290 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 8.2+ MB

(          order_id order_date  ship_date       ship_mode    customer_name  \
 0     AG-2019-2040 2019-01-01 2019-01-06  Standard Class  Toby Braunhardt
 1    IN-2019-47883 2019-01-01 2019-01-08  Standard Class      Joseph Holt
 2     HU-2019-1220 2019-01-01 2019-01-05    Second Class    Annie Thurman
 3  IT-2019-3647632 2019-01-01 2019-01-05    Second Class     Eugene Moren
 4    IN-2019-47883 2019-01-01 2019-01-08  Standard Class      Joseph Holt

        segment            state    country  market   region  ...  \
 0     Consumer      Constantine    Algeria  Africa   Africa  ...
 1     Consumer  New South Wales  Australia    APAC  Oceania  ...
 2     Consumer         Budapest    Hungary    EMEA     EMEA  ...
 3  Home Office        Stockholm     Sweden      EU    North  ...
 4     Consumer  New South Wales  Australia    APAC  Oceania  ...

           category sub_category                 product_name    sales  \
 0  Office Supplies      Storage          Tenex Lockers, Blue  408.300
 1  Office Supplies     Supplies     Acme Trimmer, High Speed  120.366
 2  Office Supplies      Storage      Tenex Box, Single Width   66.120
 3  Office Supplies        Paper  Enermax Note Cards, Premium   44.865
 4        Furniture  Furnishings   Eldon Light Bulb, Duo Pack  113.670

    quantity  discount   profit  shipping_cost  order_priority  year
 0         2       0.0  106.140          35.46          Medium  2019
 1         3       0.1   36.036           9.72          Medium  2019
 2         4       0.0   29.640           8.17            High  2019
 3         3       0.5  -26.055           4.82            High  2019
 4         5       0.1   37.770           4.70          Medium  2019

 [5 rows x 21 columns],
 None)

Sales Trends:

2019: $2.26M
2020: $2.68M
2021: $3.41M
2022: $4.30M
Sales have been steadily increasing year over year.

In [10]:
# 1. Sales Trends: Aggregating sales by year
sales_trends = orders_data.groupby('year')['sales'].sum()

sales_trends

year
2019    2.259451e+06
2020    2.677439e+06
2021    3.405746e+06
2022    4.299866e+06
Name: sales, dtype: float64

Top 5 Products by Sales:

Apple Smart Phone, Full Size: $86,936.78
Cisco Smart Phone, Full Size: $76,441.53
Motorola Smart Phone, Full Size: $73,156.30
Nokia Smart Phone, Full Size: $71,904.56
Canon imageCLASS 2200 Advanced Copier: $61,599.82

In [11]:
# 2. Top 5 products by sales
top_5_products_sales = orders_data.groupby('product_name')['sales'].sum().nlargest(5)

top_5_products_sales

product_name
Apple Smart Phone, Full Size             86935.7786
Cisco Smart Phone, Full Size             76441.5306
Motorola Smart Phone, Full Size          73156.3030
Nokia Smart Phone, Full Size             71904.5555
Canon imageCLASS 2200 Advanced Copier    61599.8240
Name: sales, dtype: float64

Top 5 Most Sold Products by Quantity:

Staples: 876 units
Cardinal Index Tab, Clear: 337 units
Eldon File Cart, Single Width: 321 units
Rogers File Cart, Single Width: 262 units
Sanford Pencil Sharpener, Water Color: 259 units

In [12]:
# 3. Top 5 most sold products by quantity
top_5_products_quantity = orders_data.groupby('product_name')['quantity'].sum().nlargest(5)

top_5_products_quantity

product_name
Staples                                  876
Cardinal Index Tab, Clear                337
Eldon File Cart, Single Width            321
Rogers File Cart, Single Width           262
Sanford Pencil Sharpener, Water Color    259
Name: quantity, dtype: int64

Most Common Mode of Shipment:

Standard Class is the most frequently used shipping mode.

In [13]:
# 4. Most commonly used mode of shipment
most_common_ship_mode = orders_data['ship_mode'].value_counts().idxmax()

most_common_ship_mode

'Standard Class'

Most Profitable Categories and Subcategories:

Technology > Copiers: $258,567.55
Technology > Phones: $216,717.01
Furniture > Bookcases: $161,924.42
Furniture > Chairs: $141,973.80
Office Supplies > Appliances: $141,680.59

In [14]:
# 5. Most profitable categories and subcategories
profitability = orders_data.groupby(['category', 'sub_category'])['profit'].sum().sort_values(ascending=False)
top_profitable_categories = profitability.head(5)

top_profitable_categories

category         sub_category
Technology       Copiers         258567.54818
                 Phones          216717.00580
Furniture        Bookcases       161924.41950
                 Chairs          141973.79750
Office Supplies  Appliances      141680.58940
Name: profit, dtype: float64

In [ ]:
"""
CREATE DATABASE SalesDB;

USE SalesDB;

CREATE TABLE Orders (
    order_id VARCHAR(255),
    order_date DATE,
    ship_date DATE,
    ship_mode VARCHAR(255),
    customer_name VARCHAR(255),
    segment VARCHAR(255),
    state VARCHAR(255),
    country VARCHAR(255),
    market VARCHAR(255),
    region VARCHAR(255),
    product_id VARCHAR(255),
    category VARCHAR(255),
    sub_category VARCHAR(255),
    product_name VARCHAR(255),
    sales FLOAT,
    quantity INT,
    discount FLOAT,
    profit FLOAT,
    shipping_cost FLOAT,
    order_priority VARCHAR(255),
    year INT
);
"""

Todo: Configuring database [working progress...]

In [ ]:
"""

import pandas as pd
import mysql.connector

# Load the dataset
file_path = '/mnt/data/1-sales_records.xlsx'
orders_data = pd.read_excel(file_path, sheet_name="Orders")

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="SalesDB"
)
cursor = conn.cursor()

# Insert data into the Orders table
insert_query = """
INSERT INTO Orders (
    order_id, order_date, ship_date, ship_mode, customer_name, segment, state, country, 
    market, region, product_id, category, sub_category, product_name, sales, quantity, 
    discount, profit, shipping_cost, order_priority, year
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

for _, row in orders_data.iterrows():
    cursor.execute(insert_query, tuple(row))

conn.commit()
cursor.close()
conn.close()
print("Data successfully inserted into MySQL database!")

"""